* {
  /* font-family: 'Roboto'; */
  /* font-family: Arial, Helvetica, sans-serif; */
  /* font-family: Georgia, serif */
  /* font-family: 'Poppins'; */
  font-family: Arial, Helvetica, sans-serif;
}

.navigation {
  width: inherit;
  background-color: rgb(255, 255, 255);
  /* font-weight: bold; */
}

.logo {
  width: 10vw;
  padding: 0%;
  padding-left: 5%;
}

.container {
  width: inherit;
  height: 85vh;
  background: #f4f8fa;
}

.main {
  margin-left: -25%;
}

input {
  width: 25vh;
  border: none;
  padding: 15px;
  padding-left: 45px;
  /* margin-bottom: 10%; */
  border-radius: 4px;
  font-size: 1rem;
  font-weight: bold;
}

button {
  margin-left: 70%;
  width: fit-content;
  background: #1b31a8;
  color: white;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border: none;
  border-radius: 2rem;
}

.title {
  padding-top: 2%;
  font-size: large;
  color: #1b31a8;
}

.output {
  width: 30vw;
  border-radius: 10px;
  border: 1px solid rgb(225, 225, 225);
}

.box-1 {
  background: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  /* font-size: 30px; */
}

.flex-box {
  display: flex;
  padding-top: 2%;
  padding-inline: 25%;
}

.map {
  margin-left: 10%;
  float: right;
  box-shadow: 0px 0px 70px rgb(209, 209, 209);
}

/*map*/
#googleMap {
  margin-left: 20%;
  float: right;
  border: none;
  /* box-shadow: 0px 0px 70px rgb(209, 209, 209); */
  box-shadow: #949494 0px 20px 20px -10px;

  min-width: 40vw;
  height: 60vh;
}

/* new */

/* i-1 {
  position: absolute;
  left: 45px;
  top: 198px;
  padding: 9px 8px;
  color: rgb(255, 0, 0);
  padding-left: 10%;
}

i-2 {
  position: absolute;
  left: 45px;
  top: 318px;
  padding: 9px 8px;
  color: rgb(255, 0, 0);
  padding-left: 10%;
} */
