/* 
 * Always set the map height explicitly to define the size of the div element
 * that contains the map. 
 */
#map {
  height: 100%;
  width: 60vw;
  position: absolute;
  top: 0;
  right: 0;
}

/* 
   * Optional: Makes the sample page fill the window. 
   */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  font-family: poppins, sans-serif;
}

#bg {
  background-image: url("/background-img.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: auto;
  color: aqua;
}

.navbar {
  z-index: 1;
  position: fixed;
  left: 0%;
  right: 0%;
  background-color: cyan;
}

.container {
  max-width: 1920px;
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

#wrap {
  border-radius: 10px;
  margin: 50px 0px;
  padding: 50px 0px;
  width: 50%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  display: grid;
  grid-template-columns: auto;
  align-items: center;
  overflow: hidden;
  transition: all 250ms ease;
}

#logo {
  display: flex;
  justify-content: center;
  width: 100%;
}

.input {
  width: 80%;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

#map-container {
  display: none;
  margin: 50px auto;
  border-radius: 10px;
  width: 80%;
  height: 400px;
  background-color: #ffffff;
}

.inp {
  background: none;
  border: none;
  outline: none;
  border-bottom: 1px solid;
  border-radius: 0px;
  color: cyan;
  padding: 10px 25px;
  margin: 20px;
  transition: 300ms;
}

.inp::placeholder {
  color: cyan;
  opacity: 1;
}

.inp:focus {
  color: #333333;
  background-color: cyan;
}

.btn {
  cursor: pointer;
  border: none;
  border-radius: 5px;
  width: 80%;
  margin: 50px auto 0px auto;
  padding: 10px 0px;
  transition: 100ms;
  background-color: cyan;
}

.btn:focus {
  box-shadow: 0px 0px 10px cyan;
  background-color: cyan;
  color: #333333;
}

#choose-cat {
  display: none;
  width: 100%;
  margin: 30px auto;
  padding: 5px 0px;
  background-color: cyan;
  color: #333333;
  text-align: center;
}

h3 {
  font-weight: 400;
  font-size: 15px;
  text-align: center;
  margin: 10px 10px;
  display: inline-block;
}

input[type="range"] {
  margin-right: 20px;
}

.flex-inside-container {
  display: none;
  flex-direction: column;
  flex-wrap: wrap;
  grid-column: 1/3;
  padding: 50px;
  border-radius: 5px;
  margin: auto;
  transition: all 250ms ease;
}

#range-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.range {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: auto;
}

#cars {
  left: 0;
  right: 0;
  padding: 5px;
  outline: none;
  border: none;
  background-color: cyan;
}

.options {
  margin: 20px;
}

#details {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

@media only screen and (max-width: 1200px) {
  #wrap {
    width: 70%;
  }
}

@media only screen and (max-width: 1000px) {
  #wrap {
    width: 70%;
  }
}

@media only screen and (max-width: 720px) {
  #wrap {
    grid-template-columns: 1fr !important;
  }

  #map-container {
    grid-column: 1 / span 3;
  }
}

@media only screen and (min-width: 500px) {
  .flex-inside-container:hover {
    box-shadow: 0px 0px 10px #666666;
  }
}

@media only screen and (max-width: 500px) {
  .btn {
    margin: 50px auto 0px auto;
  }

  #wrap {
    width: 100%;
  }

  #range-flex {
    margin-bottom: 30px;
  }

  .inp {
    margin: 20px 0px;
    padding: 10px 5px;
  }

  #logo img {
    margin: auto;
    width: 70%;
  }

  #map-container {
    height: 250px;
  }
}
